.m-bg {
    position: absolute;
    width: 608px;
    height: 881px;
    background: url(../img/e03-2.jpg)no-repeat;
    background-size: 50% 50%;
    opacity: .4;
}

.m-taobao {
    width: 304px;
    height: 440px;
    border: 7px solid #ccc;
    box-sizing: border-box;
}

.m-hd {
    background-color: beige;
    height: 56px;
}

.m-hd>span>label {
    display: block;
    color: #ff6600;
    font-weight: bold;
    font-size: 14px;
}

.m-hd>span:nth-child(1) {
    position: absolute;
    left: 45px;
}

.m-hd>span:nth-child(2) {
    position: absolute;
    left: 111px;
}

.m-hd>span:nth-child(3) {
    position: absolute;
    left: 176px;
}

.m-hd>span:nth-child(4) {
    position: absolute;
    left: 242px;
}

.m-hd>span {
    text-align: center;
    top: 21px;
}

.m-hd>span>span {
    font-size: 11px;
}

.m-hd1 {
    background-color: rgba(235, 182, 132, 0.171);
    height: 25px;
}

.m-hd1>span {
    text-align: center;
    top: 76px;
    font-size: 12.5px;
    position: fixed;
    left: 93px;
    color: #ff6600;
}

.m-hd1>div {
    width: 0px;
    height: 0px;
    background-color: white;
    border-top: 7px solid rgba(235, 182, 132, 0.171);
    border-right: 7px solid rgba(235, 182, 132, 0.171);
    border-bottom: 7px solid rgba(235, 182, 132, 0.171);
    border-left: 7px solid #ff6600;
    position: fixed;
    top: 78px;
    left: 244px;
}

.m-hd2>span>label {
    display: block;
    color: black;
    font-size: 13px;
}

.m-hd2>span:nth-child(1) {
    position: absolute;
    left: 37px;
}

.m-hd2>span:nth-child(2) {
    position: absolute;
    left: 91px;
}

.m-hd2>span:nth-child(3) {
    position: absolute;
    left: 145px;
}

.m-hd2>span:nth-child(4) {
    position: absolute;
    left: 198px;
}

.m-hd2>span:nth-child(5) {
    position: absolute;
    left: 253px;
}

.m-hd2>span {
    text-align: center;
    top: 112px;
}

.m-hd3 {
    background-color: beige;
    height: 40px;
}

.m-hd3>span {
    display: block;
    color: #ff6600;
    font-size: 10px;
    top: 149px;
}

.m-hd3>span:nth-child(1) {
    position: absolute;
    left: 26px;
}

.m-hd3>span:nth-child(2) {
    position: absolute;
    left: 157px;
}

.m-hd4 {
    background-color: beige;
    height: 56px;
}

.m-hd4>span {
    display: block;
    color: black;
    font-size: 10px;
    top: 173px;
}

.m-hd4>span:nth-child(1) {
    position: absolute;
    left: 26px;
}

.m-hd4>span:nth-child(2) {
    position: absolute;
    left: 157px;
}

.m-hd4 {
    background-color: beige;
    height: 56px;
}

.m-hd5>span {
    display: block;
    color: black;
    font-size: 10px;
    top: 251px;
}

.m-hd5>span:nth-child(1) {
    position: absolute;
    left: 32px;
    color: #ff6600;
}

.m-hd5>span:nth-child(2) {
    position: absolute;
    left: 111px;
}

.m-hd5>span:nth-child(3) {
    position: absolute;
    left: 184px;
}

.m-hd5>span:nth-child(4) {
    position: absolute;
    left: 257px;
}

.m-box1 {
    position: fixed;
    top: 206px;
    left: 15px;
    width: 73px;
    height: 78px;
    border-top: 1px solid #ff6600;
    border-left: 1px solid #ff6600;
    border-right: 1px solid #ff6600;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
}

.m-box2 {
    position: fixed;
    top: 206px;
    left: 87px;
    width: 74px;
    height: 78px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ff6600;
    box-sizing: border-box;
}

.m-box3 {
    position: fixed;
    top: 206px;
    left: 160px;
    width: 74px;
    height: 78px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ff6600;
    box-sizing: border-box;
}

.m-box4 {
    position: fixed;
    top: 206px;
    left: 233px;
    width: 72px;
    height: 78px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ff6600;
    box-sizing: border-box;
}

.m-box5 {
    position: fixed;
    top: 283px;
    left: 15px;
    width: 290px;
    height: 158px;
    border-left: 1px solid #ff6600;
    border-right: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    box-sizing: border-box;
}

.m-box6 {
    position: fixed;
    top: 317px;
    left: 31px;
    width: 190px;
    height: 26px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.m-box7 {
    position: fixed;
    top: 342px;
    left: 31px;
    width: 190px;
    height: 26px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.m-hd {
    background-color: beige;
    height: 56px;
}

.m-hd6>span {
    display: block;
    font-size: 11px;
    top: 293px;
}

.m-hd6>span:nth-child(1) {
    position: absolute;
    left: 41px;
}

.m-hd6>span:nth-child(2) {
    position: absolute;
    left: 100px;
}

.m-hd6>span:nth-child(3) {
    position: absolute;
    left: 159px;
}

.m-hd6>span:nth-child(4) {
    position: absolute;
    left: 218px;
}

.m-hd7 {
    color: black;
    font-size: 10px;
    position: fixed;
    top: 323px;
    left: 36px;
}

.m-hd8 {
    color: black;
    font-size: 10px;
    position: fixed;
    top: 349px;
    left: 36px;
}

.m-hd9 {
    color: black;
    font-size: 10px;
    position: fixed;
    top: 374px;
    left: 35px;
}

.m-hd10 {
    color: #ff6600;
    font-size: 10px;
    font-weight: bold;
    position: fixed;
    top: 375px;
    left: 75px;
}

.m-hd11 {
    color: white;
    font-size: 10px;
    font-weight: bold;
    position: fixed;
    top: 402px;
    left: 41px;
}

.m-box8 {
    position: fixed;
    top: 397px;
    left: 31px;
    width: 69px;
    height: 28px;
    background-color: #ff6600;
    box-sizing: border-box;
}