.m-bg {
    position: absolute;
    width: 1252px;
    height: 1204px;
    /*background: url(../img/ex05.png)no-repeat;*/
    background-size: 100% 100%;
    opacity: .4;
}

.m-hd {
    position: relative;
    height: 400px;
    /*background-color: #3300ff15;*/
}

.m-hd>.m-lt {
    float: left;
    width: 640px;
    height: 400px;
}

.m-hd>.m-lt>img {
    position: relative;
    top: 51px;
    left: 86px;
    width: 493px;
    height: 318px;
}

.m-hd>.m-rt {
    float: right;
    width: 579.75px;
    height: 400px;
}

.m-hd>.m-rt>.m-top {
    position: relative;
    top: 65px;
    left: 25px;
    font-size: 22px;
}

.m-hd>.m-rt>.m-body {
    position: relative;
    top: 120px;
    left: 25px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 17px;
}

.m-hd>.m-rt>.m-box1 {
    position: relative;
    top: 149px;
    left: 25px;
    width: 200px;
    height: 41px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 10px;
}

.m-hd>.m-rt>.m-box2 {
    position: relative;
    top: -117px;
    left: 26px;
    width: 49px;
    height: 1px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}

.m-hd>.m-rt>.m-bottom {
    position: relative;
    top: 113px;
    left: 47px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 16px;
    color: aliceblue
}

.m-bd {
    position: relative;
    height: 379px;
    /*background-color: #ffd90033;*/
}

.m-bd>.m-top {
    height: 102px;
}

.m-bd>.m-top>.m-blog {
    position: relative;
    top: 35px;
    left: 128px;
    font-size: 33px;
    color: rgb(0, 132, 255);
}

.m-bd>.m-top>.m-title {
    position: relative;
    top: 0px;
    left: 236px;
    font-size: 19px;
}

.m-bd>.m-top>.m-box1 {
    position: relative;
    top: -28px;
    left: 976px;
    width: 148px;
    height: 32px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 10px;
}

.m-bd>.m-top>.m-box2 {
    position: relative;
    top: -85px;
    left: 216px;
    width: 2px;
    height: 16px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}

.m-bd>.m-top>.m-box3 {
    position: relative;
    top: -48px;
    left: 104px;
    width: 1020px;
    height: 1px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.288);
    border-radius: 1px;
}

.m-bd>.m-top>.m-button {
    position: relative;
    top: -59px;
    left: 1016px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 15px;
    color: aliceblue
}

.m-bd>.m-bottom {
    height: 277px;
}

.m-bd>.m-bottom>.m-date1 {
    position: relative;
    top: 43px;
    left: 126px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-date2 {
    position: relative;
    top: 99px;
    left: 126px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-date3 {
    position: relative;
    top: 155px;
    left: 126px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-box1 {
    position: relative;
    top: -51px;
    left: 237px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(34, 209, 253, 0.486);
    border-radius: 20px;
}

.m-bd>.m-bottom>.m-box2 {
    position: relative;
    top: 10px;
    left: 237px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(7, 158, 1, 0.486);
    border-radius: 20px;
}

.m-bd>.m-bottom>.m-box3 {
    position: relative;
    top: 71px;
    left: 237px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(7, 158, 1, 0.486);
    border-radius: 20px;
}

.m-bd>.m-bottom>.m-title1 {
    position: relative;
    top: -136px;
    left: 276px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 14px;
    color: aliceblue;
}

.m-bd>.m-bottom>.m-title2 {
    position: relative;
    top: -79px;
    left: 264px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 14px;
    color: aliceblue
}

.m-bd>.m-bottom>.m-title3 {
    position: relative;
    top: -23px;
    left: 264px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 14px;
    color: aliceblue
}

.m-bd>.m-bottom>.m-click1 {
    position: relative;
    top: -230px;
    left: 367px;
    letter-spacing: 0.6px;
    line-height: 32px;
    font-size: 16px;
}

.m-bd>.m-bottom>.m-click2 {
    position: relative;
    top: -173px;
    left: 367px;
    letter-spacing: 0.6px;
    line-height: 32px;
    font-size: 16px;
}

.m-bd>.m-bottom>.m-click3 {
    position: relative;
    top: -117px;
    left: 367px;
    letter-spacing: 1.3px;
    line-height: 32px;
    font-size: 16px;
}

.m-ft {
    position: relative;
    height: 379px;
    /*background-color: #ff000025;*/
}

.m-ft>.m-lt {
    float: left;
    width: 640px;
    height: 400px;
}

.m-ft>.m-lt>.m-title {
    position: relative;
    top: 21px;
    left: 70px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    color: rgb(0, 81, 255);
}

.m-ft>.m-lt>.m-box {
    position: relative;
    top: 45px;
    left: 52px;
    width: 538px;
    height: 315px;
    border: 2px solid rgba(128, 128, 128, 0.616);
    border-radius: 1px;
}

.m-ft>.m-lt>.m-title {
    position: relative;
    top: 21px;
    left: 70px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
}

.m-ft>.m-lt>.m-text1 {
    position: relative;
    top: -238px;
    left: 219px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
}

.m-ft>.m-lt>.m-text2 {
    position: relative;
    top: -218px;
    left: 169px;
    letter-spacing: 1px;
    line-height: 32px;
    font-size: 44px;
    color: rgb(0, 132, 255);
}

.m-ft>.m-lt>.m-text3 {
    position: relative;
    top: -191px;
    left: 181px;
    letter-spacing: -0.5px;
    line-height: 29px;
    font-size: 17px;
}

.m-ft>.m-lt>.m-text4 {
    position: relative;
    top: -152px;
    left: 180px;
    letter-spacing: 2px;
    line-height: 32px;
    font-size: 21px;
}

.m-ft>.m-lt>.l-box {
    position: relative;
    top: -479px;
    left: 52px;
    width: 5px;
    height: 29px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}

.m-ft>.m-rt {
    float: right;
    width: 579.75px;
    height: 400px;
}

.m-ft>.m-rt>.m-title {
    position: relative;
    top: 21px;
    left: 37px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    color: rgb(0, 81, 255);
}

.m-ft>.m-rt>.m-box1 {
    position: relative;
    top: 45px;
    left: 22px;
    width: 538px;
    height: 315px;
    border: 2px solid rgba(128, 128, 128, 0.616);
    border-radius: 1px;
}

.m-ft>.m-rt>.m-box2 {
    position: relative;
    top: -202px;
    left: 76px;
    width: 427px;
    height: 70px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 5px;
    background-color: rgba(34, 49, 253, 0.486);
}

.m-ft>.m-rt>.m-text1 {
    position: relative;
    top: -253px;
    left: 170px;
    letter-spacing: -2px;
    line-height: 32px;
    font-size: 23px;
    color: aliceblue;
}

.m-ft>.m-rt>.m-text2 {
    position: relative;
    top: -216px;
    left: 150px;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 17px;
}

.m-ft>.m-rt>.l-box {
    position: relative;
    top: -512px;
    left: 22px;
    width: 5px;
    height: 29px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}